a{
    text-decoration-line: none;
    font-family: "VCROSDMono",Helvetica, Arial, sans-serif;
}

div a{
    position:relative;
    top:4px;
} 

* {
    padding: 0;
    margin: 0;
    font-family: "VCROSDMono",Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
}
body {
    background-color: rgb(0, 0, 0);
}

model-viewer{
    background-color:black;
    width: 65%;
    height:69%;
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.container {
    width: 200px;
    height: 40px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:23px;
    padding: 5px;
    font-weight:700;
    background-color: black;
}

.container2 {
    width: 400px;
    height: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:23px;
    padding: 5px;
    font-weight:700;
    background-color: black;
}
.container3 {
    width: 500px;
    height: 40px;
    position: absolute;
    top: 65%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size:14px;
    padding: 5px;
    font-weight:700;
    background-color: black;

}
.container4 {
    width: 140px;
    height: 22px;
    position: absolute;
    top: 7%;
    left: 19.5%;
    transform: translate(-50%, -50%);
    font-size:9px;
    padding: 5px;
    font-weight:700;
    background-color: rgb(205, 205, 205);
    text-align: center;
    color: white;
    z-index: 99;

}

p{
    color: gray;
}

.button1 {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
   font-size:14px;
    padding: 5px;
    box-shadow: 1.9px 2.4px rgb(211, 211, 211);
     font-weight:700;
     background-color: gray;
     text-align: center;
        
}
.button1:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.6s;
}
.button2:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.6s;
}
.button3:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.6s;
}
.button4:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.6s;
}
.button5:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.6s;
}
.button6:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.6s;
}
.button7:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.6s;
}

.button2 {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(-50%, -50%);
   font-size:14px;
    padding: 5px;
    box-shadow: 1.9px 2.4px rgb(211, 211, 211);
     font-weight:700;
     background-color: gray;
     text-align:center;
}

.button3 {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 17%;
    transform: translate(-50%, -50%);
   font-size:14px;
    padding: 5px;
    box-shadow: 1.9px 2.4px rgb(211, 211, 211);
     font-weight:700;
     background-color: gray;
     text-align: center;
}


.button4 {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
   font-size:14px;
    padding: 5px;
    box-shadow: 1.9px 2.4px rgb(211, 211, 211);
     font-weight:700;
     background-color: gray;
     text-align: center;   
}

.button5 {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    right: 45%;
    transform: translate(-50%, -50%);
   font-size:14px;
    padding: 5px;
    box-shadow: 1.9px 2.4px rgb(211, 211, 211);
     font-weight:700;
     background-color: gray;
     text-align: center;
}

.button6 {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    right: 17%;
    transform: translate(-50%, -50%);
   font-size:14px;
    padding: 5px;
    box-shadow: 1.9px 2.4px rgb(211, 211, 211);
     font-weight:700;
     background-color: gray;
     text-align: center;
}

.button7 {
    width: 90px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
   font-size:14px;
    padding: 5px;
    box-shadow: 1.9px 2.4px rgb(211, 211, 211);
     font-weight:700;
     background-color: gray;
     text-align: center;
}